---
import CollectionsGrid from "~/components/collections-grid.astro";
import ProductsGrid from "~/components/products-grid.astro";
import type { SearchResult } from "~/graphql/_generated";
import type { Collection } from "~/graphql/_generated";
import { sdk } from "~/graphql/sdk";
import BaseLayout from "~/layouts/base.astro";

const { slug } = Astro.params;
const colRes = await sdk.getCollection({ slug });
const prodRes = await sdk.search({
  input: { collectionSlug: slug, groupByProduct: true },
});
const collection = colRes.collection as Collection;
const subCollections = colRes.collection?.children as Array<Collection>;
const products = prodRes.search.items as Array<SearchResult>;
---

<BaseLayout title={collection.name} description={collection.description}>
  <CollectionsGrid collections={subCollections} />
  <div class="mt-6 grid sm:grid-cols-5 gap-x-4">
    <div>sidebar</div>
    <ProductsGrid products={products} />
  </div>
</BaseLayout>
