---

---

<!-- Astroo component for a footerr with taillwind  blackk bg and meneu-->
<footer>
  <div class="bg-black">
    <div class="container mx-auto px-6 py-4">
      <div class="flex justify-between items-center">
        <p class="text-white">© 2021 Astroo. All rights reserved.</p>
        <div class="flex items center">
          <a href="#" class="text-white mx-1 hover:text-gray-200">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-white mx-1 hover:text-gray-200">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-white mx-1 hover:text-gray-200">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#" class="text-white mx-1 hover:text-gray-200">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
