---
import { Icon } from "astro-icon/components";
import Cart from "~/components/cart.astro";
---

<!-- tailwind responsive navbar with burger button opn mobile -->
<nav>
  <div class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="/" class="font-semibold text-xl tracking-tight">Site Title</a>
    </div>

    <div class="flex justify-center items-center">
      <Cart />
      <button
        id="burger"
        class="flex lg:hidden items-center text-blue-200 hover:text-white mx-2"
      >
        <Icon name="bars" size={30} />
      </button>
    </div>
  </div>
</nav>
