---
import { Icon } from "astro-icon/components";
---

<!-- tailwind responsive navbar with burger button opn mobile -->
<nav>
  <div class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="/" class="font-semibold text-xl tracking-tight">Site Title</a>
    </div>
    <Icon name="bag" size={24} />
    <div class="block lg:hidden">
      <button
        id="burger"
        class="flex items-center text-blue-200 hover:text-white"
      >
        <Icon name="bars" size={24} />
      </button>
    </div>
    <div
      id="menu"
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden"
    >
      <div class="text-sm lg:flex-grow">
        <a
          href="/"
          class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
        >
          Home
        </a>
        <a
          href="/about"
          class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
        >
          About
        </a>
        <a
          href="/contact"
          class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white"
        >
          Contact
        </a>
      </div>
      <div>
        <a
          href="/search"
          class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0"
          >Search</a
        >
      </div>
    </div>
  </div>
</nav>
<script>
  document.getElementById("burger")?.addEventListener("click", function () {
    document.getElementById("menu")?.classList.toggle("hidden");
  });
</script>
