---
import { Icon } from "astro-icon/components";
import Cart from "~/components/cart.astro";
import type { Seller } from "~/graphql/_generated";

type Props = {
  seller: Seller;
};

const { seller } = Astro.props;
---

<nav>
  <div class="flex items-center justify-between flex-wrap bg-slate-800 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <h1 class="text-white w-10">
        <a href="/">
          <img
            src={seller.customFields?.logo?.preview}
            width="40"
            height="31"
            alt={seller?.customFields?.siteTitle || "Seller Site Title"}
          />
        </a>
      </h1>
    </div>

    <div class="flex justify-center items-center">
      <Cart />
      <button
        id="burger"
        class="flex lg:hidden items-center text-blue-200 hover:text-white mx-2"
      >
        <Icon name="bars" size={30} />
      </button>
    </div>
  </div>
</nav>
