---
import Image from "~/components/image.astro";
import type { Asset, SearchResult } from "~/graphql/_generated";
import { formatPrice } from "~/utils";

type Props = {
  products: Array<SearchResult>;
};

const { products } = Astro.props;
---

<div
  class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
>
  {
    products.map((product) => {
      return (
        <a class="flex flex-col" href={`/products/${product.slug}`}>
          <>
            <Image
              classes="rounded-xl flex-grow object-cover aspect-[7/8]"
              image={product.productAsset as Asset}
              preset="small"
            />
            <div class="h-2" />
            <div class="text-sm text-gray-700">{product.productName}</div>
            <div class="text-sm font-medium text-gray-900">
              {formatPrice(product.priceWithTax, product.currencyCode)}
            </div>
          </>
        </a>
      );
    })
  }
</div>
